body {
    margin: 0;
}

main {
    margin: 16px;
}
.homeAnchor{
    background-color: red;
    font-weight: bold;
}
.navbar {
    position: sticky ;
    top:0;
    width: 100%;
    background: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 / cover;
    margin-bottom: 100px;
    color: #f2f2f2;
    font-family: Helvetica;
    font-weight: 300;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}